<ion-view title="<i class='icon ion-ribbon-b'></i> Achievements" id="page4">
    <ion-content padding="true" class="has-header" ng-controller="achievementsCtrl">
    	
    	<h3 style="text-align: center;margin-top: 10px;"><u>Achieved</u></h3>
		<div class="list">
			<a class="item item-icon-left" href="#" ng-repeat="achievement in achievements">
				<i class="icon fa fa-{{achievement.icon}}"></i>
				{{achievement.name}}
				<span class="item-note">
				{{achievement.date}}
				</span>
			</a>
		</div>

		<h3 style="text-align: center;"><u>In Progress</u></h3>
		<div class="list card" ng-repeat="achievement in achievementsInProgress">
			<div class="item item-icon-left">
				<i class="icon fa fa-{{achievement.icon}}"></i>
				<h2>{{achievement.name}}</h2>
			</div>

			<div class="item item-body">
				<p>{{achievement.desc}}</p>
				<progress value="{{achievement.progress}}" max="100"></progress>
			</div>
		</div>

    </ion-content>
</ion-view>