<ion-view title="<i class='icon ion-search'></i> Bird Identification" id="page6">
    <ion-content padding="true" class="has-header" ng-controller="birdIdentificationCtrl">

        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search..." ng-model="search.name">
          </label>
        </div>
        
        <div class="list card" ng-repeat="species in speciesList | filter:search">

          <div class="item">
            <h2><u>{{species.name}}</u></h2>
          </div>

          <div class="item item-image">
            <img ng-src="{{species.image}}">
          </div>

          <div class="item item-text-wrap">
            {{species.desc}}
          </div>

        </div>
        
    </ion-content>
</ion-view>