<ion-view title="<i class='icon fa fa-list'></i> Lists" id="page2">
    <ion-content padding="true" class="has-header" ng-controller="listsCtrl">
    	<div class="row">
			<button class="button button-positive button-block"><i class="icon ion-plus-circled"></i> Add List</button>
		</div>
		<div class="list">
		    <div class="item" ng-repeat="list in lists">
		      <h2>{{list.location}}</h2>
		      <p>{{list.timeframe}}</p>
			  <span class="badge badge-positive">{{list.count}}</span>
		    </div>
		</div>
    </ion-content>
</ion-view>