<ion-view title="<i class='icon ion-radio-waves'></i> Needs" id="page3">
    <ion-content padding="true" class="has-header" ng-controller="needsCtrl">
        
        <div class="list card" ng-repeat="need in needs">
            
          <div class="item">
            <img ng-src="{{need.image}}" style="width: 150px; float: left; padding-right: 10px;">
            <h2>{{need.species}}</h2>
            <p>{{need.location}}</p>
            <p>{{need.observers | joinBy:', '}}</p>
            <p>{{need.lastObserved}}</p>
          </div>

          <div class="item item-body">
            <img class="full-image" ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{need.location}}&zoom=10&scale=false&size=300x100&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{need.location}}">
            <p>Lists: {{need.lists | joinBy:', '}}</p>
            <p ng-repeat="note in need.notes">{{note}}</p>
          </div>
            
        </div>
        
    </ion-content>
</ion-view>