<ion-view title="<i class='icon fa fa-binoculars'></i> Observations" id="page5">
    <ion-content padding="true" class="has-header" ng-controller="observationsCtrl">
    	<div class="row">
			<button class="button button-positive button-block"><i class="icon ion-plus-circled"></i> Add Observation</button>
		</div>
		<div class="list">
		    <div class="item" ng-repeat="observation in observations">
		      <h2>{{observation.species}}</h2>
              <p>{{observation.location}}</p>
		      <p>{{observation.datetime}}</p>
			  <span class="badge badge-positive">{{observation.count}}</span>
		    </div>
		</div>
    </ion-content>
</ion-view>