
    <ion-tabs class="tabs-icon-top tabs-color-active-positive" id="tabs-tabs1" style="margin-top: 5px;">
        <ion-tab title="Lists" icon="fa fa-list" href="#/tabs/lists" id="tabs-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Achievements" icon="ion-ribbon-b" href="#/tabs/achievements" id="tabs-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Needs" icon="ion-radio-waves" href="#/tabs/needs" id="tabs-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Observations" icon="fa fa-binoculars" href="#/tabs/observations" id="tabs-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Bird ID" icon="ion-search" href="#/tabs/bird-identification" id="tabs-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>